<!DOCTYPE html>
<html>

<head>
        <title>SENSORS DASHBOARD</title>
        <meta http-equiv="refresh" content="10">
</head>
<body>
<p>
<h1>WEATHER TEMPERATURE AND HUMIDITY STATION:</h1>
<img src="templates/static/images/IoT1.jpg" alt="Trulli" width="500" height="400"></p>
<form>
  <label for="Temp">TEMPERATURE:</label><br>
  <input type="text" id="fname" name="fname" value="{{temp}} *C"><br><br>
  <label for="Hum">HUMIDITY:</label><br>
  <input type="text" id="lname" name="lname" value="{{hum}} %RH">
</form>

<p>THANKS FOR USING THIS DATA VISUALIZATION PLATFORM.</p>

</body>
</html>